/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("./Profile_background.png");
}

.bgimg-2 {
  background-image: url("./golf-profile.jpg");
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
}

.entry-header.heading {
  text-align: center;
  z-index: 5;
  position: relative;
}

.heading .entry-title {
  display: block;
  font-size: 5rem;
  line-height: 1.1;
  padding-bottom: 10px;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 900;
}

h2 {
  color: #002535;
}

.block {
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
}

.portfolio {
  padding: 0 !important;
}

.profile-title {
  padding-top: 65%;
  white-space: nowrap;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .heading .entry-title {
    font-size: 3.5rem;
  }
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    /* background-attachment: scroll; */
    min-height: 1100px;
  }
}

@media (min-width: 1200px) {
  .heading.entry-header .entry-title {
    margin-right: -165px;
  }
  .entry-header.heading {
    text-align: right;
  }
  .block {
    padding: 30px 30px 30px 160px;
  }
}
